<style>
:root {
    --font-title: 'Exo2-VariableFont_wght', monospace;
    --font-body: 'Exo2-VariableFont_wght', monospace;
    --tx-color: #00FF00;
    --bg-color: #0D0D0D;
    --link-color: #FFA500;
    --accent-color: #FF4500;
}

body {
    font-family: var(--font-body);
    color: var(--tx-color);
    background-color: var(--bg-color);
}

h3 {
    font-family: var(--font-title);
    color: var(--link-color);
    text-align: center;
}

.feed-item {
    font-family: var(--font-body);
    color: var(--tx-color);
    background-color: var(--bg-color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid var(--accent-color);
}

.feed-item p {
    font-size: 1rem;
    margin-top: 10px;
}

img {
    display: block;
    margin: 20px auto;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    max-width: 90%;
    height: auto;
}

.audio-container {
    display: block;
    margin: 20px auto;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    max-width: 90%;
    padding: 10px;
    background-color: #1a1a1a;
}

.subtitle {
    font-family: var(--font-body);
    font-size: 1.2rem;
    color: var(--tx-color);
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}
</style>